:host {
  all: initial;
  font-family: sans-serif;
}

.header {
  background: #2196F3;
  color: white;
  padding: 8px;
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#popup-close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.content {
  padding: 10px;
}